<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap"><Identity Name="EffectsSpace" Publisher="CN=EffectsSpace" Version="0.1.0.0"/><Properties><DisplayName>EffectsSpace</DisplayName><PublisherDisplayName>EffectsSpace contributors</PublisherDisplayName><Logo>Assets\Icons\icon.png</Logo></Properties><Dependencies><TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0"/></Dependencies><Applications><Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="EffectsSpace.App.App"><uap:VisualElements DisplayName="EffectsSpace" Description="EffectsSpace" BackgroundColor="#202020" Square150x150Logo="Assets\Icons\icon.png" Square44x44Logo="Assets\Icons\icon.png"/></Application></Applications></Package>
